 body { 
  background: url(../img/cup-leaf-spring-leaves.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.input {
	padding-left: 30px;
}

#wrapper{
	margin: 0 auto;
}

#logo {
	color:#FABF1F;
	font-size: 48px;
	font-family: 'Pacifico', cursive;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	display: inline-block;
	margin-left: 10px;
}


#navbar-menu { 
	list-style: none;
	padding: 0;
	font-size: 0;
	vertical-align: center;
	margin: 0;
	border-radius: 0 0 5px 5px;
	border-left: 1px solid #989898;
	border-bottom: 1px solid #989898;
}

#navbar h3 a {
	text-decoration: none;
	padding-top: 0;
}


#navbar-menu li {
	font-size: 18px;
	box-sizing: border-box;
	display: inline-block;
	width: 20%;
/*	height: 50px;*/
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	vertical-align: middle;
	align-content: center;
}

#navbar-menu li:hover {
	background-color: #555555;
}

#navbar-menu li a {
	color: white;
}

#navbar-menu li a:hover {
	text-decoration: none;
	
}
#navbar-menu li:last-child:hover {
	background-color: inherit;
	
}


.pure-button:hover {
	text-decoration: none;
}

.btn-custom {
	color: white;
	background-color: #989898;
}

.btn-custom:hover{
	background-color: #ffffff;
	color: #989898;
}

#order-form {
	background-color: rgba(255,255,255, .6);
	padding: 10px;
	text-align: center;
	border-radius: 3px;
}

#order-form #form-page {
	background-color: rgba(85,85,85,.9);
	width:66%;
	border-radius: 5px;
	margin: 0 auto;
}

#order-form fieldset {
	text-align: center;
	border-radius: 3px;
	margin: 0 auto;
	min-height: 350px;
	padding: 10px;
}

#order-form fieldset .pure-u-1 .pure-control-group{
	margin: 10px auto;

}

#time {
	display: inline-block;
}

.pure-input-1-4 {
	margin: 0 0 0 0;
}

.pure-button-primary {
	background: rgb(8,191,217);
}

#navbar ul {
	background-color: rgba(152,152,152,.9);
}

#navbar {
	padding-top:0;
}

#div {
	margin: 0 auto;
}

.pure-control-group {
	text-align: left;
}

.animate-show.ng-hide {
	opacity: 0;
}

.animate-show.ng-hide-remove {
 	transition: 1s all;
}

.error{
	color: #FABF1F;
}

label {
	color: #ffffff;
}

.navbar-menu {
	border-radius: 0 0 5px 5px;
	vertical-align: middle;
	text-align: center;
	height: 50%;
}

.pure-button-disabled {
	pointer-events: none;
}

img {
	display: none;
}

.active {
	display: inline-block;
}

.success {
	color: rgb(250,191,31);
	border-radius: 2px;
	border: 2px solid rgb(250,191,31);
	background-color: rgba(152,152,152,.8);
	margin: 0 auto;
}

fieldset {
	margin: 0 auto;
}

h3 {
	color: white;
}

#admin-login {
	margin: 0 auto;
}

.pure-control-group label {
	display: inline-block;
}

.btn-link {
	color: #08BFD9;
}

fieldset p{
	color: white;
	font-family: 'Gudea', sans-serif;
}

.subhead {
	color: white;
	/*font-family: 'Average Sans Regular';*/
	font-family: 'Gudea', sans-serif;
	font-size: 1.5em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.pure-table {
	background-color: #989898;
	border-radius: 5px;
}

table:nth-child(1){
	background: #555555;
}

#products button{
	vertical-align: bottom;

}

h3.pure-u-1, h3.pure-u-2-3{
	color: #555555;
}

#new-product {
	background-color: #555555;
	border-radius: 3px;
	vertical-align: bottom;
}

.pure-u-* {
	align-content: left;
}

